main{
    padding-top: 65px;
    background-color: var(--Blanc);
}
.article{

}
.article__intro{

}
.intro__title{

}
.intro__accroche{

}
.intro__citation{
    font-style: italic;
}
.intro__CoverImage{

}
.intro__informations{

}
.informations__fiche{

}
.fiche__title{

}
.fiche__table{

}
.table__line{
    
}
.line__type{
    font-weight: bold;
}
.line__rep {

}
.informations__supplement{

}
.supplement__legend>p{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.supplement__lien{

}
.intro__citation{

}
.intro__auteur {

}
.article__synopsis{

}
.synopsis__background{

}
.synopsis__title{

}
.synopsis__text{

}
.synopsis__image{

}
q::before {
    content: '"';
}
q::after {
    content: '"';
}
/* body{
    background-color: var(--Blanc);
}

h2{
    text-align: center;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 16px;
    color: var(--Vert)
}
h3{
    margin:0 20px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 14px;
}
div>h3{
    line-height: 50px;
}
p,q,blockquote,cite {
    margin: 0 20px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
}
.full-title{
    text-align: center;
    margin-bottom: 10px;
}
.info-article{
    display: flex;
    margin-left:20px;
}
.information{
    width: calc((180/335)*100%);
}
.information>h3{
    line-height: normal;
        margin-bottom: 20px;
}
.htable{
    margin:0;
    color:var(--Vert-AAA);
}

table{
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    color:var(--Vert-AAA);
}
.legend-button{
    margin-left: 15px;
    width: calc((140/335)*100%);
}
.legend-button>legend , .legend-button>legend>p , .legend-button>legend>p>q{
    margin:0;
}
legend{
    margin: 0 20px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    font-style: italic;
}
.legend-button>button{
    background-color: var(--Blanc);
    border: solid 1px var(--Vert-fonce);
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
}
.hvert{
    color: var(--Vert);
}
.citation{
    margin-top: 20px;
} */