main{
    padding-top: 65px;
    background-color: var(--Blanc);
}
.accueil,
.article{

}
/*section classique*/
.article__trailer, 
.article__production, 
.article__musique,
.article__distinction,
.article__conclusion,
.article__resume,
.article__Apropos,
.article__plus,
.article__debut,
.article__suite,
.article__explication,
.article__bio,
.article__galerie{
    color:blue;
    padding: 0 20px;
}
/*section coloré*/
.accueil__entete,
.accueil__rando,
.accueil__redirect,
.article__synopsis,
.article__fiche,
.article__creation,
.article__resumeV,
.article__citation,
.article__jeunesse,
.article__futur,
.article__origine,
.article__redirect{
    color:indianred;
}
/*titre*/
.synopsis__title,
.trailer__title,
.production__title,
.musique__title,
.distinction__title,
.conclusion__title,
.redirect__title,
.resume__title,
.creation__title,
.Apropos__title,
.resumeV__title,
.plus__title,
.citation__title,
.jeunesse__title,
.debut__title,
.suite__title,
.futur__title,
.explication__title,
.origine__title,
.bio__title {
    margin: 10px 0;
    line-height: 30px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 14px;
    color: var(--Vert-AAA);
}
/*textes*/
.synopsis__text, 
.production__text,
.musique__text,
.fiche__text,
.distinction__text,
.conclusion__text,
.resume__text,
.creation__text,
.Apropos__text,
.resumeV__text,
.plus__text,
.citation__text,
.jeunesse__text,
.debut__text,
.suite__text,
.futur__text,
.explication__text,
.origine__text,
.bio__text {
    margin: 0;
    margin-bottom: 10px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    color: var(--Noir);
}
/*background*/
.synopsis__background,
.fiche__background,
.creation__background,
.resumeV__background,
.citation__background,
.jeunesse__background,
.futur__background,
.origine__background {
    background-color: var(--Vert-claire);
    padding: 0 20px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    
}
.accueil__entete{
   
}
.entete__citation{
    position: absolute;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(0, 131, 12, 0.20) 0%, rgba(0, 131, 12, 0.55) 32.94%, rgba(0, 131, 12, 0.55) 66.79%, rgba(0, 131, 12, 0.20) 100%);
    height: 55px;
    width: 100%;
}
.citation__text {
    margin-top: 5px;
    text-align: center;
    line-height: 50px;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 16px;
    color: var(--Blanc);
}
.entete__banderole{
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(230, 255, 215, 0.80) 0%, rgba(230, 255, 215, 0.80) 84.89%, #E6FFD7 100%);
    margin-top: -53px;
    color: var(--Noir);
    text-align: center;
}
.banderole__textAccueil{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
}
.banderole__textClassic{
    margin: 0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
}
.entete__intro{
    margin-top: -5px;
    margin-bottom: 20px;
    background-color: var(--Vert-claire);
    padding: 10px 20px;
}
.intro__text{
    margin: 0;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    line-height: 15px;
    color: var(--Noir);
}
.article__intro{

}
.rando__bandeau{
    height:50px;
    border-bottom: solid 1px var(--Vert-AAA);
}
.bandeau__title{
    height: 50px;
    border-top: solid 1px var(--Vert-AAA);
}
.bandeau__title{
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 16px;
    color: var(--Vert);
}
.rando__interface {
    background-color: var(--Vert-claire);
    padding-top: 9px;
}
.interface__text{
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    color: var(--Noir);
    margin: 0 30px;
    margin-bottom: 5px;
}
.interface__proposition{
    overflow: hidden;
    margin: 0 26px;
}
.proposition__carousel{
    margin-top: 42px;
    display: flex;
    gap: 15px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}
.intro__title,
.article__title,
.projet__title{
    line-height: 50px;
    text-align: center;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 16px;
    color: var(--Vert);
    margin-top: 15px;
    margin-bottom: 0;
}
.intro__accroche{
    text-align: center;
    margin: 10px 0;
    margin: 0 20px;
    font-family: Nunito;
    font-weight: bold;
    font-size: 14px;
    color: var(--Noir);
}
.intro__citation{
    margin: 0 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.intro__informations{
    display: flex;
    padding: 0 20px;
    gap: 15px;
}
.informations__fiche{
    margin-top: 10px;
}
.fiche__title{
    margin: 0;
    font-family: Nunito;
    font-weight: bold;
    font-size: 14px;
    color: var(--Vert-AAA);
    margin-bottom: 15px;
}
.fiche__table{

}
.table__line{

}
.line__type{
    font-weight: bold;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Vert-AAA);
    padding-right: 10px;
}
.line__rep {
    font-family: Nunito;
    font-size: 12px;
    color: var(--Vert-AAA);
}
.informations__supplement{
    margin-top: 10px;
}
/*saut de ligne*/
.supplement__legend>p,
.fiche__text{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.supplement__legend>p{
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.supplement__lien{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: var(--Blanc);
    border: solid 1px var(--Vert-fonce);
    border-radius: 5px;
}
.supplement__lien>p{
    margin: 0;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.intro__citation>blockquote{
    margin: 20px 0;
    margin-bottom: 0;
}
.intro__auteur {

}
.article__redirect{

}
.redirect__title{
    text-align: center;
    font-family: Nunito;
    font-weight: 400;
    font-size: 14px;
    color: var(--Noir);
}
.projet__texte{
    margin: 0 20px;
    margin-bottom: 10px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    color: var(--Noir);
}
.explication__title {
    margin-top: 0;
}
.intro__accrocheList {
    margin-bottom: 20px;
}
.intro__texte {
    margin: 10px 20px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 12px;
    color: var(--Noir);
}
.page__P404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -60px;
}
.P404__image{
    width: 90%;
}
.P404__title{
    margin: 0;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 16vw;
    margin-top: -57vw;
    color: var(--Blanc);
}
.P404__SousTitre {
    margin: 0;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 7vw;
    margin-top: -2vw;
    color: var(--Blanc);
}
.P404__textPosition {
    margin-top: 18vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.P404__text{
    margin: 0;
    font-family: Nunito;
    font-weight: 400;
    font-size: 5vw;
    color: var(--Noir);
}
q::before {
    content: '"';
}
q::after {
    content: '"';
}