.intro__CoverImage{
    width: 100%;
}
.trailer__video {
    width: 100%;
}
.trailer__videoLegend {

}
.production__image,.distinction__image{
    padding: 0;
    margin: 0;
}
.production__image>img {
    margin-left: 20px;
    width: calc(100% - 40px);
}
.distinction__image>img {
    margin-left: 20px;
    width: calc(100% - 40px);
}