.intro__CoverImage{
    width: 100%;
}
.trailer__video {
    width: 100%;
}
.trailer__videoLegend {
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.production__image,.distinction__image{
    padding: 0;
    margin: 0;
}
.production__image>img {
    margin-left: 20px;
    width: calc(100% - 40px);
}
.production__image>figcaption {
    margin-left: 20px;
    width: calc(100% - 40px);
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.distinction__image>img {
    margin-left: 20px;
    width: calc(100% - 40px);
}
.distinction__image>figcaption {
    margin-left: 20px;
    width: calc(100% - 40px);
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.synopsis__image{
    margin: 0;
}
.synopsis__image>img{
    width: 100%;
}
.synopsis__image>figcaption{
    margin: 0 20px;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.resumeV__image {
    margin: 0;
}
.resumeV__image>img {
    width: 100%;
}
.resumeV__image>figcaption {
    margin: 0 20px;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.citation__image {
    margin: 0;
}

.citation__image>img {
    width: 100%;
}

.citation__image>figcaption {
    margin: 0 20px;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.debut__image {
    margin: 0;
}

.debut__image>img {
    margin: 0 calc((100% - 200px)/2);
    width: 200px;
}

.debut__image>figcaption {
    text-align: center;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}
.futur__image {
    margin: 0;
}

.futur__image>img {
    width: 100%;
}

.futur__image>figcaption {
    margin: 0 20px;
    font-style: italic;
    font-family: Nunito;
    font-size: 12px;
    color: var(--Noir);
}