
.header{
    top: 0;
    position: fixed;
    padding-top: 20px;
    width: calc(100% - 2px);
    height: 60px;
    background-color: var(--Blanc);
    border-bottom: solid 1px var(--Vert-AAA);
    border-left: solid 1px var(--Vert-AAA);
    border-right: solid 1px var(--Vert-AAA);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}
.header__bar{
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.header__logo{
    margin-top: 10px;
    width: 60px;
    height: 40px;
}
.header__title{
    align-self: center;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 24px;
}