/*header*/
.header__on{
    top: 0;
    position: fixed;
    padding-top: 20px;
    width: calc(100% - 2px);
    height: 60px;
    background-color: var(--Blanc);
    border-bottom: solid 1px var(--Vert-AAA);
    border-left: solid 1px var(--Vert-AAA);
    border-right: solid 1px var(--Vert-AAA);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 7;
}
.header__bar{
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.header__logo{
    width: 60px;
    height: 40px;
}
.header__logo>img{

}
.header__title{
    align-self: center;
    font-family: Shrikhand, arial;
    font-weight: 400;
    font-size: 24px;
}
/*Menu*/
.menu__firstCase, .menu__secondCase{
    left: 0;
    position: fixed;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -50px;
    align-items: center;
    border: solid 1px var(--Vert);
    background-color: var(--Vert-claire);
    border-radius: 5px;
    margin-left: 20px;
    width: calc(100% - 82px);
    /* width: calc(100% - 42px); */
    -webkit-animation: 400ms linear forwards move-element;
    animation: 400ms linear forwards move-element;
}
    @-webkit-keyframes move-element { from { margin-top: -150px } to { margin-top: -50px } }
    @keyframes move-element { from { margin-top: -150px } to { margin-top: -50px } }
.menu__firstCase>a,
.menu__secondCase>a{
    text-decoration: none;
}
.menu__texte{
    margin: 0;
    padding-top: 50px;
    font-family: Nunito;
    font-weight: regular;
    font-size: 16px;
    color: var(--Vert-AAA);
}
.menu__image {
    padding-top: 50px;
    width: 20px;
}
.P1{
    top: 75px;
    z-index: 6;
}
.P2{
    top: 125px;
    z-index: 5;
}
.P3 {
    top: 175px;
    z-index: 4;
}
.P4 {
    top: 225px;
    z-index: 3;
}
.P5 {
    top: 275px;
    z-index: 2;
}
.P6 {
    top: 325px;
    z-index: 1;
}
.P7 {
    top: 375px;
    z-index: 0;
}